<h2><strong>{{cart.name}}</strong></h2>
<div class="image-background"></div>
{{#link-to 'cart' cart.id}}<img src= {{cart.image}} alt= {{cart.name}} />{{/link-to}}
<h5>{{cart.cuisine}} | <em>{{cart.description}}</em></h5>
<h6>{{cart.address}}</h6>
