<div class="cart-details">
  <div class="col-md-6">
    <h1>{{cart.name}}</h1>
    <img src= {{cart.image}} alt= {{cart.name}} />
  </div>
  <div class="col-md-6">
    <h5>{{cart.cuisine}}</h5>
    <h5><em>{{cart.description}}</em></h5>
    <h5>Map Here</h5>
  </div>
</div>
<br>
<div class="comment-display">
  {{add-comment cart=cart saveComment="saveComment"}}
  <br>
</div>
